<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>
            Diary
        </title>
    </head>
    <body>
        <h3>
            Diary Example
        </h3>
        <p>
            This "diary" shall populate the diary on medidata<br>
            Enter in "abc" for subject key:<br>
            <form action="/hello" method="post">
                subject key: <input type="text" name="first_name"/>
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>
