<!DOCTYPE html>

<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

      <link rel="stylesheet" type="text/css" href="../static/style.css">

      <script type="text/javascript" src="{{ url_for('static', filename='moment.min.js') }}">
      </script>


      <title>
          Diary
      </title>
    </head>
    <body>
        <h3>
            Diary Example
        </h3>
        <p>
            This "diary" shall populate the diary on medidata<br>
            Enter in "abc" for subject key:<br>
            <form action="/getSubject" method="POST">
                Subject Key:
                <input type="text" name="key" required>
                <br/>

                <p>
                  <label for="date-log">
                    Date Diary was logged:
                  </label>
                  <input type="date" name="today" id="today">
                  <br/>
                </p>

                <p> Time diary was logged:
                  <input type="time" id="time-now" name="time">
                  <button type="button" onclick="getTimeNow()" name="currTime">
                    Current time
                  </button>
                  <br/>
                </p>

                <p>How Severe is your pain:
                  <input type="number" name="pain">
                </p>

                <p>Was your pain expected?:
                  <input type="number" name="expected">
                </p>

                <p style="padding-left:1em">
                  Which activities triggered your pain:
                </p>

                <label style="padding-left:1em">
                  <input type="checkbox" name="check" value="work"> Work
                  <input type="checkbox" name="check" value="exercise"> exercise
                  <input type="checkbox" name="check" value="walking"> Walking
                  <input type="checkbox" name="check" value="sitting"> Sitting
                  <input type="checkbox" name="check" value="steps"> Climbing Steps
                  <input type="checkbox" name="check" value="none"> None of the Above
              </label>

              <br/>
              <br/>

                <input type="submit" name= "form" value="Submit" />
                <input type="submit" name= "refresh" value="Refresh" />
            </form>
        </p>
    </body>
</html>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
function getTimeNow(){
    var today = moment().format('YYYY-MM-D')
    var now = moment().format('hh:mm');

    // document.write(today);
    document.querySelector("#today").value = today;
    document.querySelector("#time-now").value = now;
    // var i = document.createElement("img");
    // "/getTime?time=" + time;
}
</script>
